{% extends "landing/base.html" %}

{% block content_middle %}
    <div class="row">
        <div class="col-md-12 header-col">
            {% include "partials/_navbar.html" %}
            <div class="container header-text">
                <div class="row">
                    <div class="col-md-8 col-sm-offset-2">
                        <h1>PERSONALISED AND ENGAGING EMAILS</h1>

                        <div class="description">
                            <p>Boost your sales by sending email drip campaigns!</p>
                        </div>

                        <div class="top-big-link">
                            <a class="btn btn-link-1" href="{{ url_for('main.signup') }}">Get it</a>
                            <a class="btn btn-link-2" href="#features">Why Drip campaigns?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-header">
        <h2 id="features">FEATURES</h2>

        <div class="divider-1">
            <span></span>
        </div>
    </div>
    <div class="row marketing">
        <div class="col-md-4">
            <img class="img-circle"
                 src="{{ url_for('static', filename='img/landingpage/animat-lightbulb-color.gif') }}"
                 alt="Generic placeholder image" width="140" height="140">

            <h2>RIGHT TIMING</h2>

            <p>Set right time for each of your emails to reach your customer at the right time.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle"
                 src="{{ url_for('static', filename='img/landingpage/animat-image-color.gif') }}"
                 alt="Generic placeholder image" width="140" height="140">

            <h2>ADAPTIVE CONTENT</h2>

            <p>Personalise your email campaign by changing content based on recipient behaviour.</p>
        </div>
        <div class="col-md-4">
            <img class="img-circle"
                 src="{{ url_for('static', filename='img/landingpage/animat-linechart-color.gif') }}"
                 alt="Generic placeholder image" width="140" height="140">

            <h2>TRACK PERFORMANCE</h2>

            <p>Measure campaign performance and know what is working and where changes are
                needed!</p>
        </div>
    </div>
    <div class="row row-header">
        <h2>GREAT SUPPORT</h2>

        <div class="divider-1">
            <span></span>
        </div>
    </div>
    <div class="row support">
        <div class="col-md-6">
            <h3>WHY DRIP CAMPAIGNS?</h3>

            <p>Drip e-mail campaigns are part of marketing automation tools.</p>

            <p>Campaign usually consists of series of emails which are scheduled with aim to move
                customer down the sales funnel. The main goal is to build build relationship
                gradually and not trying to put every piece of content in one hard sales email..
                Because campaign consists of set of emails it is possible to adapt content on the
                way. For example based on customer click history or purchase behaviour.</p>

            <p>As a result customers have personalised experience and store owners have boosted
                revenue and increased customer loyalty!</p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename="img/landingpage/dashboard.png") }}"
                 class="img-responsive"
                 alt=""
                 style="max-width: 100%"
            >
        </div>
    </div>
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>

        <p>© 2015 DripIt, Inc.</p>
    </footer>
{% endblock %}
