{% extends "base.html" %}

{#
Dashboard Base View

:param active_nav: variable tells which view right now is active
#}

{% block assets_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename="dist/dashboard.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="dist/drip.css") }}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="sidebar" data-color="purple"
             data-image="{{ url_for('static', filename='img/backgrounds/sidebar-5.jpg') }}">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="{{ url_for('main.index') }}" class="simple-text">
                        Dripit
                    </a>
                </div>

                <ul class="nav">
                    <li {% if active_nav == 'index' %}class="active"{% endif %}>
                        <a href="{{ url_for('main.index') }}">
                            <i class="pe-7s-graph"></i>

                            <p>Drip campaigns</p>
                        </a>
                    </li>
                    <li {% if active_nav == 'settings' %}class="active"{% endif %}>
                        <a href="{{ url_for('dashboard.settings') }}">
                            <i class="pe-7s-user"></i>

                            <p>Settings</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('main.logout') }}">
                            <i class="pe-7s-user"></i>

                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background"
                 style="background-image: url('/static/img/backgrounds/sidebar-5.jpg');"></div>
        </div>

        <div class="main-panel">
            <div class="content">
                {% if notifications %}
                    <div class="notifications">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    {% for notification in notifications %}
                                        <div class="alert alert-warning">
                                            <span><b> Warning - </b> {{ notification }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% block content_middle %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block assets_foot %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='dist/dashboard.bundle.js') }}"
            charset="utf-8"></script>
{% endblock %}
