{% extends "base.html" %}

{% block assets_head %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Drip Trooper</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('dashboard.settings') }}">Settings</a></li>
                    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container dashboard">
        {% block content_middle %}{% endblock %}
    </div>
{% endblock %}

{% block assets_foot %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"
            charset="utf-8"></script>
{% endblock %}
