
html,
body {
  font-family: Roboto, sans-serif;
}

.header-col {
  height: 600px;
  background-image: url('/static/img/landingpage/background.png');
  background-repeat: repeat;
  background-position: center top;

  .header-text {
    color: white;
    text-align: center;

    margin-top: 100px;

    .description {
      margin: 20px 0 10px 0;

      p {
        opacity: 0.8;
      }
    }

    .top-big-link {
      margin-top: 35px;

      .btn {
        display: inline-block;
        height: 50px;
        margin: 0 5px;
        padding: 16px 20px 0 20px;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        color: #fff;
        border-radius: 4px;
        border-radius: 4px;

        &.btn-link-1 {
          background: #66d6c5;
        }

        &.btn-link-2 {
          background: #444;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.nav-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  .navbar-brand,
  ul.nav li a {
    color: white;

    &:hover {
      background-color: inherit;
    }
  }
}

.row-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  .divider-1 {
    span {
      display: inline-block;
      width: 200px;
      border-bottom: 1px dotted #aaa;
    }
  }
}

.marketing {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-weight: normal;
  }

  .col-md-4 {
    margin-bottom: 20px;
    text-align: center;

    p {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.support {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 100px;
  padding-right: 100px;

  margin-top: 80px;
}

footer {
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}